
html,body{
    
    background-color: hsl(30, 38%, 92%);
   
    width: 90%;
    max-width: 1000px;
    margin: auto;
}

.gridcontainer{
    display: grid;
    grid-template-columns: 400px 400px;
    grid-template-rows: auto;
    
    margin-top: 5%;
    margin-bottom: 5%;
    height: 600px;
    border-radius: 25px 25px 25px 25px;    
}

#container1{
    background-image: url('images/image-product-desktop.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    border-radius: 25px 0 0 25px;
}

#container2{
    padding: 35px 35px 35px 35px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 0px 25px 25px 0px;
    
}

#flexbox{
    display: flex; 
    justify-content: flex-start;
    justify-content: space-between;
    
}

p{
    font-size: 14px;
    font-family: 'Montserrat';
    color: hsl(228, 12%, 48%);
    font-weight: 500;
}

h1{
    color: hsl(212, 21%, 14%);
    font-size: 40px;
    font-family: 'Fraunces', serif;
}

#flexbox p:nth-child(1){
    color:hsl(158, 36%, 37%);
    font-size: 40px;
}
#flexbox p:nth-child(2){
    text-decoration: line-through;
    padding-top:40px;
    margin-right: 80px;
}

button{
    background-color: hsl(158, 36%, 37%);
    color: hsl(0, 0%, 100%);
    border-radius: 15px 15px 15px 15px;
    width: 325px;
    height: 50px;
    font-size: 14px;
    font-family: 'Montserrat';
    font-weight: 700;
}
.attribution {
     font-size: 11px; text-align: center; 
    }
.attribution a { 
    color: hsl(228, 45%, 44%);
 }

/*screen phone*/

 @media only screen and (max-width:375px) {
  .gridcontainer{
    grid-template-columns: 320px;
    grid-template-rows: 320px 470px;
    margin: 20% 20% 10% 0%;
    width: 200px;
  }
  #container1{
    background-image: url('images/image-product-mobile.jpg');
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 25px 25px 0 0;
    
    
    
  }
  #container2{
    border-radius: 0 0 25px 25px;
  }
  h1{
    font-size: 25px;
  }
  p{
    font-size: 17px;
  }
  button{
    border: 1px solid;
    width: 250px;
    height: 40px;
  }

 
